.js-popup(id="adv")
  section.popup
    .popup__close
      span.popup__close-icon.js-close-popup &times;
    .popup__content
      h3 Promote our Offers!
      p
        a(href="#") Register here
        |  at our private affiliate Network, Big Bang Ads.