.js-popup(id="contatto")
  section.popup
    .popup__close
      span.popup__close-icon.js-close-popup &times;
    .popup__content
      h2 Contatto:
      p Questo gioco a premi viene offerto dalla Naturvel PTE LTD
      p
        b Naturvel PTE LTD
        br
        | 26 Eng Hoon Street
        br
        | Singapore 169776
        br
        | Singapore
        br
        br
        | Per ulteriori informazioni riguardanti la societ&agrave; preghiamo di inviare una email all&rsquo;indirizzo 
        strong info(at)naturvel.com
        | .
      p
        b Propriet&agrave; intellettuale
        br
        | I diritti di tutti i testi, elementi grafici, codici HTML e script sono di propriet&agrave; della Naturvel PTE LTD e ne &egrave; vietato qualunque uso senza esplicita autorizzazione da parte di Naturvel..
        br
        br
        | La Naturvel PTE LTD &egrave; registrata presso il Registro delle Imprese di Singapore (ACRA) con il numero 201431968D e viene rappresentata dall&rsquo;amministratore Wai Siew Peng.
