.js-popup(id="privacy")
  section.popup
    .popup__close
      span.popup__close-icon.js-close-popup &times;
    .popup__content
      h1 Informativa Privacy agli Utenti
      p
        strong Naturvel Pte. Ltd
        | , con sede legale in 26 Eng Hoon Street, Singapore 169776, (di seguito, &ldquo;
        strong Titolare
        | &rdquo;), proprietario del presente sito internet (di seguito, il &ldquo;
        strong Sito
        | &rdquo;), in qualit&agrave; di 
        strong  titolare del trattamento dei dati personali
        |  degli utenti che navigano il Sito e che partecipano alla manifestazione a premio accessibile dal Sito (di seguito, gli &ldquo;
        strong Utenti
        | &rdquo;) fornisce qui di seguito l&rsquo;informativa privacy ai sensi dell&rsquo;art. 13 del Regolamento UE 2016/679 del 27 aprile 2016 (di seguito, &ldquo;
        strong Regolamento
        | &rdquo; o &ldquo;
        strong Normativa Applicabile
        | &rdquo;).
      p
        | Questo Sito e la manifestazione a premio accessibile dal Sito sono riservati a soggetti che hanno compiuto il diciottesimo anno di et&agrave;. Il Titolare non raccoglie quindi dati personali relativi ai soggetti minori di anni 18. Su richiesta degli Utenti, il Titolare canceller&agrave; tempestivamente tutti i dati personali involontariamente raccolti e relativi a soggetti minori di anni 18.
      p
        | Il Titolare tiene nella massima considerazione il diritto alla privacy ed alla protezione dei dati personali dei propri Utenti. Per ogni informazione in relazione alla presente informativa privacy, gli Utenti possono contattare il Titolare in qualsiasi momento, utilizzando le seguenti modalit&agrave;:
      li
        | Inviando una raccomandata a/r alla sede legale del Titolare: Naturvel PTE. LTD, c/o Talk2 GmbH, Rheinstra&szlig;e 22, 64283 Darmstadt, Deutschland
      li
        | Inviando un messaggio di posta elettronica all&rsquo;indirizzo 
        a(href='mailto:info@naturvel.com' target='_top') info@naturvel.com
      li Inviando un fax al n. 0049 61968022100
      ul
        | Nel territorio dell&rsquo;Unione Europea, il Titolare ha designato il seguente rappresentante ai sensi dell&rsquo;art. 27 del Regolamento:
        li Talk2 GmbH, VAT n. DE240157170 Rheinstra&szlig;e 22, 64283 Darmstadt, Deutschland
      p
        | &Egrave; possibile contattare il Responsabile della protezione dei dati (RPD o DPO) scrivendo a 
        a(href='mailto:info@naturvel.com' target='_top') info@naturvel.com
        | .
      h2 1. Finalit&agrave; del trattamento 
      p
        | I dati personali degli Utenti saranno trattati lecitamente dal Titolare ai sensi dell&rsquo;art. 6 del Regolamento per le seguenti finalit&agrave; di trattamento:
      ul(style='list-style-type:lower-alpha')
        li
          strong
            u obblighi contrattuali: 
          u  
          br
          u
            strong per dare esecuzione al regolamento della manifestazione a premio
          | , che &egrave; accettata dall&rsquo;Utente in fase di registrazione alla stessa; adempiere a specifiche richieste dell&apos;Utente. I dati dell&rsquo;Utente raccolti dal Titolare ai fini dell&rsquo;eventuale partecipazione includono: il sesso, il nome, il cognome, la data di nascita, l&rsquo;indirizzo postale, l&apos;indirizzo email e il numero telefonico, nonch&eacute; tutte le informazioni personali dell&rsquo;Utente eventualmente e volontariamente pubblicate. Salvo che l&rsquo;Utente dia al Titolare uno specifico e facoltativo consenso al trattamento dei propri dati per finalit&agrave; di marketing ai sensi del successivo paragrafo 2 o per di comunicazione a terzi ai sensi del successivo paragrafo 3, i dati di cui sopra saranno utilizzati dal Titolare al fine esclusivo di accertare l&rsquo;identit&agrave; dell&rsquo;Utente (anche tramite validazione dell&rsquo;indirizzo di posta elettronica), evitando cos&igrave; possibili truffe o abusi e contattare l&rsquo;Utente per sole ragioni di servizio (ad es. gestire l&rsquo;eventuale partecipazione dell&rsquo;Utente alla manifestazione a premio, notificare eventuali vincite e gestire la fase di attribuzione e consegna dei premi; contattare l&rsquo;Utente per ottenere dati ed informazioni supplementari &ndash; come la copia del documento di identit&agrave; - eventualmente richieste dal notaio e dal funzionario camerale responsabile dei concorsi a premi, al fine di accertarne l&rsquo;identit&agrave; ed evitare truffe ed abusi; effettuare eventuali comunicazioni urgenti via telefono nella fase di ritiro e fruizione dei premi). Fermo restando quanto previsto altrove in questa informativa privacy, in nessun caso il Titolare render&agrave; accessibili agli altri Utenti e/o a terzi i dati personali degli Utenti.
        li
          u
            strong finalit&agrave; amministrativo-contabili:
          |  ovvero per svolgere attivit&agrave; di natura organizzativa, amministrativa, finanziaria e contabile, quali attivit&agrave; organizzative interne ed attivit&agrave; funzionali all&apos;adempimento di obblighi contrattuali e precontrattuali;
        li
          u
            strong obblighi di legge:
          |  ovvero per adempiere ad obblighi previsti dalla legge, da un regolamento o dalla normativa europea (es. normativa in materia fiscale; normativa in materia di manifestazioni a premio - D.P.R. 430/2001).
      p
        | Il conferimento dei dati personali per le finalit&agrave; di trattamento sopra indicate &egrave; facoltativo ma necessario, poich&eacute; il mancato conferimento degli stessi comporter&agrave; l&rsquo;impossibilit&agrave; per l&rsquo;Utente di usufruire dei servizi offerti dal Titolare sul Sito e partecipare alla manifestazione a premio.
      h2
        | 2. Ulteriori finalit&agrave; di trattamento: marketing (invio di materiale pubblicitario, vendita diretta e comunicazione commerciale)
      p
        | Con il 
        u
          strong consenso libero e facoltativo
        |  dell&rsquo;Utente, alcuni dati personali dell&rsquo;Utente (ovvero il sesso, il nome, il cognome, la data di nascita, l&rsquo;indirizzo postale, l&apos;indirizzo email e il numero telefonico) potranno essere trattati dal Titolare anche per finalit&agrave; di marketing (invio di materiale pubblicitario, vendita diretta e comunicazione commerciale), ovvero affinch&eacute; il Titolare possa contattare l&rsquo;Utente tramite posta, posta elettronica, telefono (fisso e/o mobile, con sistemi automatizzati di chiamata o di comunicazione di chiamata con e/o senza l&apos;intervento di un operatore) e/o sms e/o (con 
        strong consenso libero e facoltativo
        |  dell&rsquo;Utente richiesto attraverso il suo browser) notifiche push e/o attraverso campagne di social marketing (a titolo esemplificativo, facebook) per proporre all&rsquo;Utente l&rsquo;acquisto di prodotti e/o servizi offerti dallo stesso Titolare e/o da imprese terze, presentare offerte, promozioni ed opportunit&agrave; commerciali.
      p
        | In caso di mancato consenso, la possibilit&agrave; di iscriversi al concorso non sar&agrave; in alcun modo pregiudicata.
      p
        | In caso di consenso, l&rsquo;Utente potr&agrave; in qualsiasi momento revocare lo stesso, facendone richiesta al Titolare con le modalit&agrave; indicate al successivo paragrafo 6.
      p
        | L&rsquo;Utente potr&agrave; inoltre opporsi facilmente ad ulteriori invii di comunicazioni promozionali via email anche cliccando sull&apos;apposito link per la revoca del consenso, che &egrave; presente in ciascuna email promozionale. Effettuata la revoca del consenso, il Titolare invier&agrave; all&rsquo;Utente un messaggio di posta elettronica per confermare l&rsquo;avvenuta revoca del consenso. Qualora l&apos;Utente intenda revocare il proprio consenso all&apos;invio di comunicazioni promozionali via telefono, continuando tuttavia a ricevere comunicazioni promozionali via email, o viceversa, si prega di inviare una richiesta al Titolare con le modalit&agrave; indicate al successivo paragrafo 6.
      p
        | In particolare, l&rsquo;Utente potr&agrave; revocare il proprio consenso all&rsquo;invio di notifiche push tramite le impostazioni del proprio browser relative all&rsquo;invio di notifiche.
      p
        | L&rsquo;Utente potr&agrave; inoltre opporsi facilmente ad ulteriori invii di comunicazioni promozionali via email anche cliccando sull&apos;apposito link per la revoca del consenso, che &egrave; presente in ciascuna email promozionale. Effettuata la revoca del consenso, il Titolare invier&agrave; all&rsquo;Utente un messaggio di posta elettronica per confermare l&rsquo;avvenuta revoca del consenso. Qualora l&apos;Utente intenda revocare il proprio consenso all&apos;invio di comunicazioni promozionali via telefono, continuando tuttavia a ricevere comunicazioni promozionali via email, o viceversa, si prega di inviare una richiesta al Titolare con le modalit&agrave; indicate al successivo paragrafo 6.
      p
        | In particolare, l&rsquo;Utente potr&agrave; revocare il proprio consenso all&rsquo;invio di notifiche push tramite le impostazioni del proprio browser relative all&rsquo;invio di notifiche.
      p
        | Il Titolare informa che, a seguito dell&rsquo;esercizio del diritto di opposizione all&apos;invio di comunicazioni promozionali via email, &egrave; possibile che, per ragioni tecniche ed operative (es. formazione delle liste di contatto gi&agrave; completata poco prima della ricezione da parte del Titolare della richiesta di opposizione) l&rsquo;Utente continui a ricevere alcuni ulteriori messaggi promozionali. Qualora l&rsquo;Utente dovesse continuare a ricevere messaggi promozionali dopo che siano trascorse 24 ore dall&rsquo;esercizio del diritto di opposizione, si prega di segnalare il problema al Titolare, utilizzando i contatti indicati al successivo paragrafo 6.
      h2
        | 3. Ulteriori finalit&agrave; di trattamento: comunicazione dei dati ai Partner del Titolare
      p
        | Con il 
        strong
          u consenso libero e facoltativo
        |  dell&rsquo;Utente, i dati personali dell&rsquo;Utente (ovvero sesso, nome, cognome, indirizzo postale, indirizzo di posta elettronica, telefono), saranno comunicati dal Titolare alle seguenti 
        strong categorie
        |  di aziende terze:
      ul
        li
          | aziende di telecomunicazione, telefonia fissa e mobile (tra cui Vodafone Italia Spa)
        li
          | aziende attive nel mondo dell&rsquo;editoria, carta stampata, nuovi media e della televisione (pay-tv)
        li aziende attive nel settore del commercio elettronico di prodotti e servizi 
        li
          | societ&agrave; operanti nel settore delle utilities - gas, luce, acqua, fotovoltaico &ndash;e nella depurazione dell&rsquo;acqua
        li
          | societ&agrave; operanti nel settore turistico &ndash; tour operator, agenzie di viaggi e trasporti &ndash; e del tempo libero
        li societ&agrave; che si occupano di formazione professionale e/o scolastica 
        li
          | agenzie di pubblicit&agrave; e marketing, centri media, ricerche di mercato e contact center
        li
          | societ&agrave; operanti nella produzione e/o commercio di beni di largo consumo: alimentare e bevande, grocery non alimentare, cosmesi e salute, abbigliamento, beni semi-durevoli
        li ONG e ONLUS, organizzazioni no profit, fondazioni 
        li societ&agrave; operanti nel settore scommesse e lotterie (con licenza aams) 
        li societ&agrave; operanti nel settore automotive 
        li societ&agrave; operanti nel settore finanziario, bancario, assicurativo
        li societ&agrave; sportive 
        li agenzie per il lavoro e societ&agrave; di ricerca e selezione del personale 
      p
        | L&rsquo;elenco delle societ&agrave; Partner &egrave; consultabile 
        a.poplink(target='popped_iframe' href='/cgi-bin/global.pl?todo=show_page&ident=datenschutz2&wingame_pk=62&freetest_pk=221&partner_pk=577') qui
        | .
      p
        | (collettivamente, i &ldquo;
        strong Partner del Titolare
        | &rdquo;).
      p
        | I Partner del Titolare, in qualit&agrave; di autonomi titolari del trattamento, tratteranno i dati personali dell&rsquo;Utente per proprie finalit&agrave; di marketing (vendita diretta, invio di materiale pubblicitario e comunicazione commerciale), e potranno contattare l&rsquo;Utente tramite posta, posta elettronica, telefono (fisso e/o mobile, con sistemi automatizzati di chiamata o di comunicazione di chiamata con e/o senza l&apos;intervento di un operatore) e/o sms e/o attraverso campagne di social marketing (a titolo esemplificativo, facebook) per proporre all&rsquo;Utente l&rsquo;acquisto di prodotti e/o servizi offerti dalle stesse categorie di imprese terze e/o da altre imprese e presentare all&rsquo;Utente offerte, promozioni ed opportunit&agrave; commerciali. Una volta avvenuta la cessione, sar&agrave; onere del Partner del Titolare fornire agli Utenti ai sensi dell&rsquo;art. 14 c.3 del Regolamento, tutte le informazioni previste dallo stesso art. 14 del Regolamento.
      p
        | In caso di mancato consenso, la possibilit&agrave; di iscriversi alla manifestazione a premio non sar&agrave; in alcun modo pregiudicata.
      p
        | In caso di consenso, l&rsquo;Utente potr&agrave; in qualsiasi momento revocare lo stesso, facendone richiesta al Titolare con le modalit&agrave; indicate al successivo paragrafo 6.
      p
        | Il Titolare informa che i dati personali dell&rsquo;Utente saranno trattati dai Partner del Titolare in qualit&agrave; di autonomi titolari del trattamento, sulla base della specifica informativa che sar&agrave; rilasciata dai Partner del Titolare agli Utenti ai sensi dell&rsquo;art.14 c.3 del Regolamento. Eventuali richieste di non ricevere ulteriori comunicazioni commerciali da parte dei Partner del Titolare, ai quali i dati siano stati gi&agrave; comunicati dal Titolare, dovranno pertanto essere rivolte direttamente a questi.
      h2 4. Modalit&agrave; di trattamento e tempi di conservazione dei dati 
      p
        | Il Titolare tratter&agrave; i dati personali degli Utenti mediante strumenti manuali ed informatici, con logiche strettamente correlate alle finalit&agrave; stesse e, comunque, in modo da garantire la sicurezza e la riservatezza dei dati stessi.
      p
        | Nei casi di cui al precedente paragrafo 1, i dati personali degli Utenti del Sito saranno conservati per i tempi strettamente necessari ad espletare le finalit&agrave; primarie connesse alla partecipazione dell&rsquo;Utente al concorso o comunque per il tempo necessario per la tutela in sede civilistica degli interessi sia degli Utenti che del Titolare, e quindi per un periodo di tempo ricompreso tra i 5 e, in caso di contenzioso, 10 anni.
      p
        | Nei casi di cui ai precedenti paragrafi 2 e 3 i dati personali degli Utenti saranno conservati, da parte del Titolare, per i tempi strettamente necessari ad espletare le finalit&agrave; illustrate negli stessi e, in ogni caso, per non pi&ugrave; di ventiquattro (24) mesi dal momento della raccolta e/o ricezione di tali dati. Eccezionalmente, i dati personali destinati ai Partner del Titolare appartenenti alle categorie 
        i
          strong
            | i) aziende di telecomunicazione, telefonia fissa e mobile; ii) aziende attive nel mondo dell&rsquo;editoria, carta stampata, nuovi media e della televisione (pay-tv); iii) societ&agrave; operanti nel settore delle utilities - gas, luce, acqua, fotovoltaico e nella depurazione dell&rsquo;acqua
        | , di cui al paragrafo 3 che precede, saranno conservati dal Titolare, in virt&ugrave; della specifica tipologia di prodotti e servizi dagli stessi offerti e tenuto conto delle valutazioni effettuate in tema di conservazione dei dati, per non pi&ugrave; di quarantotto (48) mesi.
      p
        | Il periodo di conservazione dei dati da parte dei Partner del Titolare potr&agrave; essere reperito dall&rsquo;Utente all&rsquo;interno dell&rsquo;informativa da questi fornita ai sensi dell&rsquo;art. 14 del Regolamento.
      h2 5. Ambito di comunicazione e diffusione dei dati
      p
        | Potranno venire a conoscenza dei dati personali degli Utenti i dipendenti e/o collaboratori del Titolare incaricati di gestire il Sito. Tali soggetti, che sono stati istruiti in tal senso dal Titolare ai sensi dell&rsquo;articolo 29 del Regolamento, tratteranno i dati dell&rsquo;Utente esclusivamente per le finalit&agrave; indicate nella presente informativa e nel rispetto delle previsioni della Normativa Applicabile.
      p
        | Potranno inoltre venire a conoscenza dei dati personali degli Utenti i soggetti terzi che potranno trattare dati personali per conto del Titolare in qualit&agrave; di&ldquo;
        strong Responsabili Esterni del Trattamento
        | &rdquo;, quali, a titolo esemplificativo, fornitori di servizi informatici e logistici funzionali all&rsquo;operativit&agrave; del Sito, fornitori di servizi in outsourcing o cloud computing, professionisti e consulenti.
      p
        | Gli Utenti hanno il diritto di ottenere una lista degli eventuali responsabili del trattamento nominati dal Titolare, facendone richiesta al Titolare con le modalit&agrave; indicate al successivo paragrafo 6.
      p
        | Inoltre, i dati personali degli Utenti potranno essere comunicati dal Titolare, nei limiti in cui ci&ograve; sia necessario per dare esecuzione ad obblighi contrattuali e/o per adempiere ad obblighi di legge, 
        strong a terzi autonomi titolari del trattamento
        | , quali notai e funzionari camerali incaricati dell&rsquo;individuazione dei vincitori del concorso a premio organizzato sul Sito, il Ministero dello Sviluppo Economico, nonch&eacute; i soggetti terzi indicati nel regolamento del concorso a premio, a cui i dati dovranno essere necessariamente comunicati per consentire all&rsquo;Utente di usufruire dei premi eventualmente vinti (es. agenzie di viaggi, biglietterie, hotel, ecc.).
      h2 6. Diritti degli Interessati
      ul
        | Gli Utenti potranno esercitare i diritti garantiti loro dalla Normativa Applicabile, contattando il Titolare con le seguenti modalit&agrave;: 
        br
        li
          | Inviando una raccomandata a/r alla sede legale del Titolare: Naturvel PTE. LTD, c/o Talk2 GmbH, Rheinstra&szlig;e 22, 64283 Darmstadt, Deutschland
        li
          | Inviando un messaggio di posta elettronica 
          a(href='mailto:info@naturvel.com' target='_top') info@naturvel.com
        li Inviando un fax al n. 0049 61968022100
      p
        | Ai sensi della Normativa Applicabile, il Titolare informa che gli Utenti hanno il diritto di ottenere l&apos;indicazione (i) dell&apos;origine dei dati personali; (ii) delle finalit&agrave; e modalit&agrave; del trattamento; (iii) della logica applicata in caso di trattamento effettuato con l&apos;ausilio di strumenti elettronici; (iv) degli estremi identificativi del titolare e dei responsabili; (v) dei soggetti o delle categorie di soggetti ai quali i dati personali possono essere comunicati o che possono venirne a conoscenza in qualit&agrave; di responsabili o incaricati.
      ul(style='list-style-type:lower-alpha')
        | Inoltre, gli Utenti hanno il diritto di ottenere:
        li
          strong l&rsquo;accesso, l&apos;aggiornamento
          | , la 
          strong rettificazione
          |  ovvero, quando vi hanno interesse, 
          strong l&apos;integrazione
          |  dei dati
        li
          | la 
          strong cancellazione
          | , la 
          strong trasformazione in forma anonima
          |  o il 
          strong blocco
          |  dei dati trattati in violazione di legge, compresi quelli di cui non &egrave; necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o successivamente trattati;
        li
          | l&apos;attestazione che le operazioni di cui alle lettere a) e b) sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato.
      p Inoltre, gli Utenti hanno:
      ul(style='list-style-type:lower-alpha')
        li
          | il diritto di 
          strong revocare il consenso
          |  in qualsiasi momento, qualora il trattamento si basi sul loro consenso;
        li
          | il diritto alla 
          strong portabilit&agrave; dei dati
          |  (diritto di ricevere tutti i dati personali che li riguardano in un formato strutturato, di uso comune e leggibile da dispositivo automatico), il diritto alla 
          strong limitazione del trattamento
          |  dei dati personali e il 
          strong diritto alla cancellazione
          |  (&ldquo;diritto all&rsquo;oblio&rdquo;);
        li
          | il 
          strong diritto di opporsi
          | :
          ul(style='list-style-type: lower-roman')
            li
              | in tutto o in parte, per motivi legittimi al trattamento dei dati personali che li riguardano, ancorch&eacute; pertinenti allo scopo della raccolta;
            li
              | in tutto o in parte, al trattamento di dati personali che li riguardano a fini di invio di materiale pubblicitario o di vendita diretta o per il compimento di ricerche di mercato o di comunicazione commerciale;
            li
              | qualora i dati personali siano trattati per finalit&agrave; di marketing diretto, in qualsiasi momento, al trattamento dei loro dati effettuato per tale finalit&agrave;, compresa la profilazione nella misura in cui sia connessa a tale marketing diretto.
        li
          | d. qualora ritenessero che il trattamento che li riguarda violi il Regolamento, il diritto 
          strong di proporre reclamo a un&rsquo;Autorit&agrave; di controllo
          |  (nello Stato membro in cui risiedono abitualmente, in quello in cui lavorano oppure in quello in cui si &egrave; verificata la presunta violazione). L&rsquo;Autorit&agrave; di controllo italiana &egrave; il 
          strong Garante per la protezione dei dati personali
          | , con sede in Piazza Venezia n. 11, 00187, Roma (
          a(href='http://www.garanteprivacy.it/' target='_blank') http://www.garanteprivacy.it/
          | ).
          br
          br
          | Il Titolare non &egrave; responsabile per l&rsquo;aggiornamento di tutti i link visualizzabili nella presente Informativa, pertanto ogni qualvolta un link non sia funzionante e/o aggiornato, gli Utenti riconoscono ed accettano che dovranno sempre far riferimento al documento e/o sezione dei siti internet richiamati da tale link.
