@font-face {
  font-family: 'BalooBhai-Regular';
  src:  url('../../assets/fonts/BalooBhai-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Regular';
  src:  url('../../assets/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Bold';
  src:  url('../../assets/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Verdanda';
  src:  url('../../assets/fonts/Verdana.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Verdanda-bold';
  src:  url('../../assets/fonts/Verdana-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Verdanda-BoldItalic';
  src:  url('../../assets/fonts/Verdana-BoldItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Verdana-Italic';
  src:  url('../../assets/fonts/Verdana-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}