include ../mixins/bemto.pug

+b.FOOTER.footer
  +e.container.container
    +e.content.block-design
      +e.description
        p Giorno Unico 2021 - Partecipazione gratuita. CONCORSO A PREMI con periodo di partecipazione dal 27 novembre 2020 al 14 novembre 2021. REALIZZATO IN CONFORMITÀ CON QUANTO PREVISTO DAL DPR 430/2001 - L'estrazione è garantita da Naturvel PTE LTD. Solo gli utenti che compilano interamente e correttamente il modulo partecipano all'estrazione. Premio: un buono Idea Shopping del valore di 1000 euro iva esclusa - montepremi complessivo del concorso è pari a 1000 Euro iva esclusa. In alternativa al buono IdeaShopping, l’utente vincitore può scegliere di ricevere un voucher di una compagnia aerea o ferroviaria selezionata dal Promotore.
      +e.row
        +b.links
          +e.item
            a.js-link-popup(data-url="./assets/popup/advertise.html") Advertise
          +e.item
            a.js-link-popup(data-url="./assets/popup/regolamento.html") Regolamento
          +e.item
            a.js-link-popup(data-url="./assets/popup/privacy.html") Privacy
          +e.item
            a.js-link-popup(data-url="./assets/popup/contatto.html") Contatto