.js-popup {
  padding: 25px 0;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  animation-name: fadeIn;
  animation-duration: 0.4s;
  &.is-active {
    display: flex;
  }
}


.popup {
  padding: 25px;
  position: relative;
  margin: auto;
  background-color: #fefefe;
  max-width: 95%;
  // animation-name: slideIn;
  // animation-duration: 0.2s;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  &--first {
    padding: 0;
    border: none;
  }
  &--first &__content {
    img {
      display: block;
    }
  }
  &__close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    background-color: #f01a18;
    cursor: pointer;
  }
  &__close-icon {
    display: inline-block;
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  h2 {
    font-family: 'Verdanda';
    font-size: 1.2em;
  }
  p {
    font-family: 'Verdanda';
    font-size: 16px;
  }
  li {
    font-family: 'Verdanda';
    font-size: 16px;
  }

}




@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0
  }
  to {
    transform: translateY(0);
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}