include ./mixins/bemto.pug

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='icon' href='assets/img/favicon.png')
    title Barilla
  body(style='background-image: url(assets/img/bg-barilla.jpg)')

    block content

    block footer
      include includes/footer

    //- .js-popup