extends ../base.pug

block content
  +b.MAIN.main
    +b.container
      +b.SECTION.raffle.block-design
        +e.HEADER.title.title
          h1 Vinci una fornitura
            br
            | di pasta Barilla gratis per un anno!
        +e.content
          +e.img.animation
            img(src="assets/img/img-barilla.png", alt="")
          +b.FORM.form(name='raffle')
            +e.H2.title Dove possiamo inviare il possibile premio?
            +e.row
              +b.error-message(data-error-msg='gender')
              +e.control--50
                +e.INPUT.input-radio(type="radio" id="gender-male" name="gender" value="male")
                +e.LABEL.label-radio(for="gender-male") Uomo
              +e.control--50
                +e.INPUT.input-radio(type="radio" id="gender-female" name="gender" value="female")
                +e.LABEL.label-radio(for="gender-female") Donna
            +e.control--50
              +e.INPUT.input-text.test(type="text" id="firstname" name="firstname" placeholder=' ')
              +e.LABEL.label-text(for="firstname") Nome
              +b.error-message(data-error-msg='firstname')
            +e.control--50
              +e.INPUT.input-text(type="text" id="lastname" name="lastname" placeholder=' ')
              +e.LABEL.label-text(for="lastname") Cognome
              +b.error-message(data-error-msg='lastname')
            +e.control--100
              +e.INPUT.input-email(type="email" id="email" name="email" placeholder=' ')
              +e.LABEL.label-email(for="email") Email
              +b.error-message(data-error-msg='email')
            +e.control--100.--mb0
              +e.subtitle Data di nascita
            +e.row
              +e.control--33
                +e.INPUT.input-number(type="number" id="dayofbirth" name="dayofbirth" placeholder=' ')
                +e.LABEL.label-number(for="dayofbirth") Giorno
              +e.control--33
                +e.INPUT.input-number(type="number" id="monthofbirth" name="monthofbirth" placeholder=' ')
                +e.LABEL.label-number(for="monthofbirth") Mese
              +e.control--33
                +e.INPUT.input-number(type="number" id="yearofbirth" name="yearofbirth" placeholder=' ')
                +e.LABEL.label-number(for="yearofbirth") Anno
              +b.error-message.--margin(data-error-msg='dayofbirth')
            +e.control--100
              +b.BUTTON.btn(type="submit")
                span.blinker PARTECIPAZIONE 100% GRATUITA