@import './utils/vendors.scss';
@import './utils/media.scss';
@import './utils/fonts.scss';

// includes
@import './includes/footer.scss';

// pages
@import './pages/main.scss';
@import './pages/popup.scss';