@import './utils/vendors.scss';
// @import './utils/vars.scss';
// @import './utils/mixins.scss';
@import './utils/media.scss';
@import './utils/fonts.scss';
// @import './utils/reset.scss';

// includes
@import './includes/header.scss';
@import './includes/footer.scss';

// pages
@import './pages/main.scss';
@import './pages/popup.scss';